<%- include ('partials/header'); -%>

<div class="d-flex flex-column container text-center mt-4 justify-content-center align-items-center">
  <h4>welcom Home</h4>
  <div class="col-7 d-flex flex-column card p-2 rounded shadow-lg p-3 mb-2 border border-warning" id="chat-board">
    <div id="chat-area" class="card-body col-10 offset-1 border border-info rounded shadow-lg p-3 mb-2 bg-white">This is some text within a card body.</div>
    <form action="" class="col-10 offset-1 mt-1 d-flex justify-content-center" id="chat-form">
      <div class="col-9">
        <input id="input-msg" class="form-control border border-success shadow-sm p-2 mb-1"
         type="text" 
         onfocus="this.placeholder = ''"
        onblur="this.placeholder ='Enter  your message'"
        placeholder ='Enter your message'
         aria-label="default input" autocomplete="off" />
      </div>
      <button type="submit" id="send-btn" class="btn btn-success ms-2 col-2"><i class="fa-solid fa-paper-plane"></i> Send</button>
    </form>
  </div>
</div>

<%- include ('partials/footer'); -%>
